# Midday Meal Scheme Analysis

**Problem Statement:**  
Analyze coverage and effectiveness of the Midday Meal Scheme in schools.

**Project ID:**  
CBIT/IT-1/EDAV/2025/CEP-46

**Roll No:**  
160124737022

**Name of the Student:**  
Praharshi Sepur

**Department:**  
Dept of IT, Chaitanya Bharathi Institute of Technology, Hyderabad

**Description:**  
The Midday Meal Scheme aims to improve childrenâ€™s nutrition and school attendance in the nation. This study analyzes its coverage and effectiveness across states, school types, and years, addressing missing records and identifying trends in meal distribution and regional performance.

**Dataset Link:**  
*()*

**Environment:**  
- Python version: 3.13.5  

**Libraries Used:**  
- `numpy`  
- `pandas`  
- `seaborn`  
- `matplotlib`

**Code to load the dataset.**

In [4]:
# mounting Google Drive to Colab notebook.
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import numpy as np
import pandas as pd

In [12]:
# Finding the file in drive
!find /content/drive/ -name "*Midday*.xlsx"

/content/drive/MyDrive/Colab Notebooks/MiddayMeal_Dataset.xlsx

In [18]:
# Load the Excel dataset into a pandas DataFrame
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/MiddayMeal_Dataset.xlsx')
print(df.columns)

Index(['State', 'Region', 'District', 'School_ID', 'School_Name',
       'School_Type', 'Year', 'Meals_Served', 'Students_Enrolled',
       'Meal_Coverage_Percentage', 'Remarks'],
      dtype='object')

**Data exploration steps**

In [11]:
print("First 5 rows:\n", df.head(), "\n")
print("Dataset Info:\n")
df.info()
print("\nDataset Description:\n", df.describe(include='all'))
print("\n=== Missing values Count ===")
print(df.isnull().sum())

First 5 rows:
        State     Region     District School_ID School_Name School_Type  Year  \
0      Bihar       East  District-20    SC0001  School_001  Government  2023
1    Gujarat       West  District-19    SC0002  School_002       Aided  2020
2      Assam  Northeast  District-19    SC0003  School_003     Private  2024
3      Assam  Northeast  District-29    SC0004  School_004     Private  2022
4  Karnataka      South  District-16    SC0005  School_005     Private  2020

   Meals_Served  Students_Enrolled  Meal_Coverage_Percentage  \
0       28830.0                469                     30.74
1       70104.0                485                     72.27
2       39804.0                353                     56.38
3       25896.0                230                       NaN
4       80976.0                576                       NaN

                Remarks
0  Kitchen under repair
1                   NaN
2                   NaN
3  Kitchen under repair
4                   NaN

Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     320 non-null    object
 1   Region                    320 non-null    object
 2   District                  320 non-null    object
 3   School_ID                 320 non-null    object
 4   School_Name               320 non-null    object
 5   School_Type               320 non-null    object
 6   Year                      320 non-null    int64
 7   Meals_Served              287 non-null    float64
 8   Students_Enrolled         320 non-null    int64
 9   Meal_Coverage_Percentage  252 non-null    float64
 10  Remarks                   198 non-null    object
dtypes: float64(2), int64(2), object(7)
memory usage: 27.6+ KB

Dataset Description:
              State Region     District School_ID School_Name School_Type  \
count          320    320          320       320         320         320
unique          10      5           30       320         320           3
top     Tamil Nadu  South  District-28    SC0304  School_304  Government
freq            40     95           20         1           1         111
mean           NaN    NaN          NaN       NaN         NaN         NaN
std            NaN    NaN          NaN       NaN         NaN         NaN
min            NaN    NaN          NaN       NaN         NaN         NaN
25%            NaN    NaN          NaN       NaN         NaN         NaN
50%            NaN    NaN          NaN       NaN         NaN         NaN
75%            NaN    NaN          NaN       NaN         NaN         NaN
max            NaN    NaN          NaN       NaN         NaN         NaN

               Year  Meals_Served  Students_Enrolled  \
count    320.000000    287.000000         320.000000
unique          NaN           NaN                NaN
top             NaN           NaN                NaN
freq            NaN           NaN                NaN
mean    2021.862500  33032.212544         336.131250
std        1.371394  20251.657071         151.517719
min     2020.000000   7800.000000          80.000000
25%     2021.000000  17045.500000         200.000000
50%     2022.000000  27520.000000         340.500000
75%     2023.000000  44541.000000         469.250000
max     2024.000000  97890.000000         596.000000

        Meal_Coverage_Percentage               Remarks
count                 252.000000                   198
unique                       NaN                     4
top                          NaN  Kitchen under repair
freq                         NaN                    55
mean                   52.638651                   NaN
std                    21.305493                   NaN
min                    10.640000                   NaN
25%                    34.785000                   NaN
50%                    54.385000                   NaN
75%                    69.947500                   NaN
max                    96.190000                   NaN

=== Missing values Count ===
State                         0
Region                        0
District                      0
School_ID                     0
School_Name                   0
School_Type                   0
Year                          0
Meals_Served                 33
Students_Enrolled             0
Meal_Coverage_Percentage     68
Remarks                     122
dtype: int64

**Q1: Calculate average number of meals served (Bloom Level-3)**

In [14]:
# .mean() function is used to find the average of Meals_Served
avg_meals_served = df["Meals_Served"].mean()
print("Average number of meals served:", avg_meals_served)

Average number of meals served: 33032.21254355401



**Purpose:**  
To find the overall average number of meals served across all schools, which helps evaluate the general reach and effectiveness of the Midday Meal Scheme.

**Attributes / Parameters:**

- `df["Column_Name"]` â†’ Selects a column from the DataFrame.  
- `.mean()` â†’ Calculates the arithmetic mean (average) of numeric values.  
- `skipna=True` (default) â†’ Ignores missing values (`NaN`) during calculation.

**Syntax:**  
```python
# Calculate average meals served across all schools
average_meals = df["Meals_Served"].mean()
print("Average Meals Served:", average_meals)

**Q2: Filter data by state and school type (Bloom Level-3)**

In [19]:
filtered_data = df[(df["State"] == "Bihar") & (df["School_Type"] == "Aided")]
print(filtered_data.head())

     State Region     District School_ID School_Name School_Type  Year  \
5    Bihar   East  District-20    SC0006  School_006       Aided  2023
73   Bihar   East   District-7    SC0074  School_074       Aided  2022
112  Bihar   East  District-27    SC0113  School_113       Aided  2020
190  Bihar   East  District-24    SC0191  School_191       Aided  2024
192  Bihar   East  District-10    SC0193  School_193       Aided  2024

     Meals_Served  Students_Enrolled  Meal_Coverage_Percentage  \
5         26406.0                427                     30.92
73        25896.0                205                     63.16
112       17100.0                347                     24.64
190       18758.0                132                     71.05
192       32185.0                250                       NaN

                  Remarks
5            Data pending
73   Kitchen under repair
112             Audit due
190                   NaN
192  Kitchen under repair



**Purpose:**  
To extract a subset of the dataset based on specific conditions, such as a particular state and school type. This helps in analyzing and comparing the Midday Meal Scheme across different states or school categories.

**Attributes / Parameters:**

- `df["Column_Name"]` â†’ Selects a column from the DataFrame.  
- `==` â†’ Compares column values with a given value to return True/False.  
- `&` â†’ Logical AND operator; combines multiple conditions.  
- `|` â†’ Logical OR operator (if needed).  
- Parentheses `()` â†’ Required around each condition for correct evaluation.

**Syntax:**  
```python
# Filter for a specific state and school type
filtered_df = df[(df["State"] == "State_Name") & (df["School_Type"] == "School_Type_Name")]

# Example: Karnataka Government schools
filtered_df = df[(df["State"] == "Bihar") & (df["School_Type"] == "Aided")]

**Q3: Handle missing meal coverage records (Bloom Level-4)**

In [22]:
# Fill missing with average coverage
df["Meal_Coverage_Percentage"].fillna(df["Meal_Coverage_Percentage"].mean(), inplace=True)

/tmp/ipython-input-3636127450.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Meal_Coverage_Percentage"].fillna(df["Meal_Coverage_Percentage"].mean(), inplace=True)



**Purpose:**  
To manage missing or incomplete records in the `Meal_Coverage_Percentage` column, ensuring accurate analysis and complete dataset for calculations and visualizations.

**Attributes / Parameters:**

- `df["Column_Name"]` â†’ Selects a column from the DataFrame.  
- `.fillna(value, inplace=True)` â†’ Replaces missing values (`NaN`) with the specified value.  
- `value` â†’ The value used to fill missing entries (e.g., mean, median, or constant).  
- `inplace=True` â†’ Updates the DataFrame in place; no new DataFrame is returned.  

**Syntax:**  
```python
# Fill missing Meal_Coverage_Percentage values with the column mean
df["Meal_Coverage_Percentage"].fillna(df["Meal_Coverage_Percentage"].mean(), inplace=True)

**Q4: Group by region and year (Bloom Level-4)**

In [23]:
group_by_region_and_year = df.groupby(["Region", "Year"])["Meals_Served"].mean().reset_index()
print(group_by_region_and_year)

       Region  Year  Meals_Served
0        East  2020  26838.928571
1        East  2021  31664.500000
2        East  2022  31283.916667
3        East  2023  34727.076923
4        East  2024  32538.000000
5       North  2020  44473.125000
6       North  2021  26829.363636
7       North  2022  39603.636364
8       North  2023  39943.700000
9       North  2024  32542.800000
10  Northeast  2020  34667.615385
11  Northeast  2021  18503.666667
12  Northeast  2022  25999.000000
13  Northeast  2023  97890.000000
14  Northeast  2024  27553.500000
15      South  2020  27142.071429
16      South  2021  25862.142857
17      South  2022  34824.260870
18      South  2023  33414.133333
19      South  2024  36647.769231
20       West  2020  38516.500000
21       West  2021  33882.470588
22       West  2022  34664.461538
23       West  2023  39121.454545
24       West  2024  29366.000000


**Purpose:**  
To summarize and analyze trends in the Midday Meal Scheme across different regions and years, such as average meals served or coverage percentage, helping identify regional performance patterns over time.

**Attributes / Parameters:**

- `df.groupby([columns])` â†’ Groups the DataFrame by one or more columns.  
- `["Column_Name"]` â†’ Selects the numeric column(s) to aggregate.  
- `.mean()` / `.sum()` / `.count()` â†’ Aggregation functions to compute statistics for each group.  
- `.reset_index()` â†’ Converts grouped data back to a regular DataFrame.

**Syntax:**  
```python
# Group by Region and Year, calculate average Meals_Served
grouped_df = df.groupby(["Region", "Year"])["Meals_Served"].mean().reset_index()

# View the first few rows of the grouped data
grouped_df.head()